body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 4rem 0;
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-image: url('glasgowbg.png');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
h2{
	color: #fff;
	margin-bottom:0;
}
h4{
	color: #FFF;
	margin-top:0;
}
table {
  width: 100%;
  max-width: 60rem;
}
table th,
table td {
  padding: 0.5rem 1rem;
}
table th {
  font-weight: normal;
  border-top: thin dotted #fff;
  color: #fff;
}
table td {
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.4;
  border-radius: 0.2rem;
  transition: opacity 0.3s ease;
}
table td > span.speaker {
  font-size: 0.8rem;
  font-weight: normal;
  display: block;
  width: 100%;
}
table td > span.stage {
  font-size: 0.8em;
  font-weight: normal;
  display: block;
  width: 100%;
}
a {
  color: #BA0051;
}
.platform-one {
  background-color: #BA0051;
  color: #FFF;
}

.platform-two {
  background-color: #D9337B;
  color: #FFF;
}

.platform-closed {
  background-color: #530024;
  color: #ccc;
  text-align: center;
}
.platform-central {
	background-color: #E780AD;
  	text-align: center;
}

.platform-general {
  background-color: #F1B3CE;
  text-align: center;
}
.hg-logo{
	max-width: 10rem;
}
@media (max-width: 768px) {
	body {
	    background-attachment: scroll;
	}
}
